# dist file for AntTweakBar
git      /extensions/AntTweakBar            git://github.com/oe-legacy/extensions-AntTweakBar.git
git-dev  /extensions/AntTweakBar            git@github.com:oe-legacy/extensions-AntTweakBar.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/AntTweakBar-win32.zip
