# dist file for AntTweakBar
darcs      /extensions/AntTweakBar            http://openengine.dk/code/extensions/AntTweakBar
darcs-dev  /extensions/AntTweakBar            fh.daimi.au.dk:/users/cgd/code/extensions/AntTweakBar
